@using LibrarySystem_VA.Web.Models.BookCategories;
@model CreateOrEditBookCategoryViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/BookCategories/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("AddNewBookCategory")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form name="BookCategoryForm" role="form" class="form-horizontal">
                            <input type="hidden" name="Id" value="@Model?.Id" />


                            <div class="row">
                                <div class="form-group">
                                    @*Book Category Name*@
                                    <label for="bookCategoryName">Book Category Name</label>
                                    <input type="text" class="form-control" name="Name" value="@Model?.Name" placeholder="Book Category Name">
                                </div>
                            </div>
                            
                            @*Department List*@
                            <div class="row">
                                <div class="form-group">
                                    <label for="DepartmentList">Department List</label>
                                    @Html.DropDownListFor(
                                    x => x.DepartmentId,
                                    Model.DepartmentList.Select(
                                    d => new SelectListItem {
                                    Value = d.Id.ToString(),
                                    Text = d.Name
                                    }), "Select Department", new { @class = "form-control" })
                                </div>
                            </div>
                            
                            @*Save/Cancel Buttons*@
                            <div class="row-buttons">
                                <button type="button" class="btn btn-default cancel-button">@L("Cancel")</button>
                                <button type="submit" class="btn btn-primary save-button">@L("Save")</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
