@using LibrarySystem_VA.Web.Models.Authors;
@model CreateOrEditAuthorViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Authors/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("NewAuthorForm")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form name="AuthorForm" role="form" class="form-horizontal">
                            <input type="hidden" name="Id" value="@Model?.Id" />
                            
                            @*Author Name*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="AuthorName">Name</label>
                                    <input class="form-control" type="text" name="Name" value="@Model?.Name" placeholder="Author Name">
                                </div>
                            </div>                        

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-default cancel-button">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary save-button">@L("Save")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
