@using LibrarySystem_VA.Web.Models.Authors;
@model CreateOrEditAuthorViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Authors/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-family:Helvetica, sans-serif"><b>@L("NewAuthorForm")</b></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form name="AuthorForm" role="form" class="form-horizontal">
                            <input type="hidden" name="Id" value="@Model?.Id" />
                            
                            @*Author Name*@
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="AuthorName">Name<span class="required" style="color:red">*</span></label>
                                    <input class="form-control" type="text" required name="Name" value="@Model?.Name" placeholder="Author Name"
                                           style="border-radius:5px; font-size:16px;">
                                </div>

                                <p style="color:#545454;font-family:Helvetica, sans-serif">
                                    Required field <span class="required" style="color:red; font-family:Helvetica, sans-serif"><b>*</b></span>
                                </p>
                            </div>                        

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-round cancel-button"
                                            style="border-radius:15px; border-color:#545454; background:#545454; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase"> @L("Cancel") </button>
                                    <button type="submit" class="btn btn-round save-button"
                                            style="border-radius:15px; border-color:#0F7173; background:#0F7173; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase"> @L("Save") </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
