@using LibrarySystem_VA.Web.Models.Students;
@model CreateOrEditStudentViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Students/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-family:Helvetica, sans-serif"><b>@L("NewStudentForm")</b></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal" name="StudentForm" role="form">
                            <input type="hidden" name="Id" value="@Model?.Id"/>

                            @*Student Name*@
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="studentName">Student Name<span class="required" style="color:red">*</span></label>
                                    <input type="text" required class="form-control" name="StudentName" value="@Model?.StudentName" placeholder="Student Name"
                                           style="border-radius:5px; font-size:16px;">
                                </div>

                                @*Student Contact Number*@
                                <div class="form-group col-12">
                                    <label for="studentContactNumber">Student Contact Number<span class="required" style="color:red">*</span></label>
                                    <input type="text" required class="form-control" name="StudentContactNumber" value="@Model?.StudentContactNumber" placeholder="Student Contact Number"
                                           style="border-radius:5px; font-size:16px;">
                                </div>

                                @*Student Email*@
                                <div class="form-group col-12">
                                    <label for="studentEmail">Student Email<span class="required" style="color:red">*</span></label>
                                    <input type="text" required class="form-control" name="StudentEmail" value="@Model?.StudentEmail" placeholder="Student Email"
                                           style="border-radius:5px; font-size:16px;">
                                </div>

                                @*Department List*@
                                <div class="form-group col-12">
                                    <label for="DepartmentList">Department List<span class="required" style="color:red">*</span></label>
                                    @Html.DropDownListFor(x => x.DepartmentId,
                                    Model.DepartmentList.Select(d => new SelectListItem {
                                    Value = d.Id.ToString(),
                                    Text = d.Name}), "Select Department", new { @class = "form-control", required = "required"})
                                </div>

                                <p style="color:#545454;font-family:Helvetica, sans-serif">
                                    Required field <span class="required" style="color:red; font-family:Helvetica, sans-serif"><b>*</b></span>
                                </p>
                            </div>                  

                            @*Save/Cancel Buttons*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-default cancel-button"
                                            style="border-radius:15px; border-color:#545454; background:#545454; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary save-button"
                                            style="border-radius:15px; border-color:#0F7173; background:#0F7173; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase">@L("Save")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
