@using LibrarySystem_VA.Web.Models.Students;
@model CreateOrEditStudentViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Students/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("NewStudentForm")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form class="form-horizontal" name="StudentForm" role="form">
                            <input type="hidden" name="Id" value="@Model?.Id"/>

                            @*Student Name*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="studentName">Student Name</label>
                                    <input type="text" class="form-control" name="StudentName" value="@Model?.StudentName" placeholder="Student Name">
                                </div>
                            </div>

                            @*Student Contact Number*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="studentContactNumber">Student Contact Number</label>
                                    <input type="text" class="form-control" name="StudentContactNumber" value="@Model?.StudentContactNumber" placeholder="Student Contact Number">
                                </div>
                            </div>

                            @*Student Email*@
                            <div class="form-row">                  
                                <div class="form-group col-md-6">
                                <label for="studentEmail">Student Email</label>
                                <input type="text" class="form-control" name="StudentEmail" value="@Model?.StudentEmail" placeholder="Student Email">
                                </div>
                            </div>                            

                            @*Department List*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="DepartmentList">Department List</label>
                                            @Html.DropDownListFor(x => x.DepartmentId, 
                                                Model.DepartmentList.Select(d => new SelectListItem {
                                                                            Value = d.Id.ToString(),
                                                                            Text = d.Name}), "Select Department", new { @class = "form-control" })
                                </div>
                            </div>

                            @*Save/Cancel Buttons*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-default cancel-button">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary save-button">@L("Save")</button>
                                </div>
                            </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
