@model CreateOrEditDepartmentViewModel
@using LibrarySystem_VA.Web.Models.Departments;

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Departments/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-family:Helvetica, sans-serif"><b>@L("NewDepartmentForm")</b></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body" >
                        <form class="form-horizontal" name="DepartmentForm" role="form">
                            <input type="hidden" name="Id" value="@Model?.Id" />                           
                            
                            @*Department Name*@
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="DepartmentName">Name<span class="required" style="color:red">*</span></label>
                                    <input aria-label="Small" type="text" required class="form-control" name="Name" value="@Model?.Name" placeholder="Department Name"
                                           style="border-radius:5px; font-size:16px;">
                                </div>
                                
                                <p style="color:#545454;font-family:Helvetica, sans-serif">
                                    Required field <span class="required" style="color:red; font-family:Helvetica, sans-serif"><b>*</b></span>
                                </p>
                            </div>

                            @*Buttons*@
                            <div class="form-row">
                                    <div class="form-group col-md-6">                                    
                                    <button type="button" class="btn btn-round cancel-button"
                                            style="border-radius:15px; border-color:#545454; background:#545454; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase">@L("Cancel")</button>

                                    <button type="submit" class="btn btn-round save-button"
                                            style="border-radius:15px; border-color:#0F7173; background:#0F7173; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase">@L("Save")</button>
                                    </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>