@model CreateOrEditDepartmentViewModel
@using LibrarySystem_VA.Web.Models.Departments;

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Departments/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("NewDepartmentForm")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body" >
                        <form class="form-horizontal" name="DepartmentForm" role="form">
                            <input type="hidden" name="Id" value="@Model?.Id" />                           
                            
                            @*Department Name*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="DepartmentName">Name</label>
                                    <input style="background:#F8F6F4; border-radius:5px; border-color:#555; font-size:16px; color:#555"
                                           aria-label="Small" type="text" class="form-control" name="Name" value="@Model?.Name" placeholder="Department Name">
                                </div>
                            </div>                

                            @*Buttons*@
                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <button style="border-radius:40px; border-color:#526D82; background:#526D82; color:#fff; font-size:16px; 
                                                       font-weight:500; text-transform: uppercase"
                                                type="button" class="btn btn-round cancel-button">@L("Cancel")</button>

                                        <button style="border-radius:40px; border-color:#8bbabb; background:#8bbabb; color:#fff; font-size:16px;
                                                       font-weight:500; text-transform: uppercase"
                                                type="submit" class="btn rounded-pill save-button">@L("Save")</button>
                                    </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>